<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-lewagon">
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">

      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
  <p class="d-none d-lg-block">guillo</p>
</nav>




<div class="dropdown text-center">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Productos
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <div class="d-flex">
      <% @divisions.each do |division| %>
      <div>
        <h2><%= link_to division.title, division_path(division), class: 'dropdown-item' %></h2>
        <% division.categories.each do
          |c| %>
          <p><%= link_to c.title, category_path(c), class: 'dropdown-item'  %></p>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>



  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="text-center">

  </div>



  <style>
    .dropdown-menu {
      width: 100%;
    }
  </style>




  <h1>Categories#show</h1>
  <p>Find me in app/views/categories/show.html.erb</p>

  <div class="text-center pb-5">
    <% @divisions.each do |division| %>
    <%= link_to division.title, division_path(division)  %>
    <% end %>
  </div>

  <div class="category-container d-flex justify-content-around">
    <div>
      <h3>Categorias:</h3>
      <h1><%= @category.title %><%=  @category.products.count %></h1>
      <h2></h2>
      <p></p>
      <% division_title =  @category.division.title %>
      <% category_links = @categories.filter { |category| category.division.title == division_title } %>
      <% category_links.each do |g| %>
      <%= link_to category_path(g) do  %>

      <h2><%= g.title %></h2>
      <% end %>
      <% g.products.each do |p| %>
      <p><%= p.title %></p>
      <% end %>
      <% end %>
      <h2 >Filtros</h2>

      <% @category.products.each do |r| %>
      <h5><%= link_to r.flavor, category_path(flavor: r.flavor)%></h5>
      <% end %>




      <h5 id="celiaco"><%= link_to 'Celiaco', category_path(condition: 'Celiaco') %> </h5>


      <%= link_to category_path(created_at: :desc),class: 'dropdown-item' do %>
      Lo mas reciente
      <% end %>
    </div>
    <div>
      <% @products.each do |p| %>
      <p><%= p.title %></p>
      <% end %>
    </div>
  </div>



  <div class="d-flex">
    <% @divisions.each do |division| %>
    <div class="dropdown">
      <a class= "dropdown" href="#"  id="dropdownMenuLink" data-toggle="dropdown">
        <%= division.title  %>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <% division.categories.each do |category| %>
        <%= link_to  category_path(category) do   %>
        <p><%= category.title %></p>
        <% end %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
