<h1>Categories#show</h1>
<p>Find me in app/views/categories/show.html.erb</p>

<div class="text-center pb-5">
  <% @divisions.each do |division| %>
  <%= link_to division.title, division_path(division)  %>
  <% end %>
</div>

<div class="category-container d-flex justify-content-around">
  <div>
    <h3>Categorias:</h3>
    <h1><%= @category.title %><%=  @category.products.count %></h1>
    <h2></h2>
    <p></p>
    <% division_title =  @category.division.title %>
    <% category_links = @categories.filter { |category| category.division.title == division_title } %>
    <% category_links.each do |g| %>
    <%= link_to category_path(g) do  %>

    <h2><%= g.title %></h2>
    <% end %>
    <% g.products.each do |p| %>
    <p><%= p.title %></p>
    <% end %>
    <% end %>
    <h2 >Filtros</h2>

    <% @category.products.each do |r| %>
    <h5><%= link_to r.flavor, category_path(flavor: r.flavor)%></h5>
    <% end %>




    <h5 id="celiaco"><%= link_to category_path(condition: 'Celiaco')do %> Celiaco<% end %></h5>


    <%= link_to category_path(created_at: :desc),class: 'dropdown-item' do %>
    Lo mas reciente
    <% end %>
  </div>
  <div>
    <% @products.each do |p| %>
    <p><%= p.title %></p>
    <% end %>
  </div>
</div>



