<h1>Products#new</h1>
<p>Find me in app/views/products/new.html.erb</p>

<%= simple_form_for @product do |f| %>
<%= f.input :title %>
<%= f.input :price %>
<%= f.input :flavor %>
<%= f.input :condition %>
<%= f.input :size %>
<%= f.association :category %>
<%= f.submit %>
<% end %>
